body {
  background-color: #75787b;
  margin: 0;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  height: 70px;
  margin-top: 0.4em;
}

/* menu demo styles */

.menu {
  background-color: #004992;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.titulo {
  display: block;
  padding: 2rem 1.5rem;

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  background-color: #e87722;
}

.menu__list {
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu__link {
  display: block;
  padding: 2rem 1.5rem;

  will-change: color;
  transition: color 0.25s ease-out;

  font-weight: 100;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:focus {
  outline: 2px solid #fff;
}

.footer {
  display: none;
}


.logo__foot {
  display: none;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.div3 {
  grid-area: 3 / 1 / 4 / 2;
}

.div4 {
  grid-area: 4 / 1 / 5 / 2;
}

.div5 {
  grid-area: 5 / 1 / 6 / 2;
}

.div6 {
  grid-area: 6 / 1 / 7 / 2;
}

.div7 {
  grid-area: 7 / 1 / 8 / 2;
}

.div8 {
  grid-area: 8 / 1 / 9 / 2;
}

.div9 {
  grid-area: 9 / 1 / 10 / 2;
}

.div10 {
  grid-area: 10 / 1 / 11 / 2;
}

.div11 {
  grid-area: 2 / 1 / 3 / 2;
  background: #5650687e;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 350px;
}

.nd_diapo {
  text-align: center;
  position: relative;
  top: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  background-color: #e87722;
}
}

.footer {
  display: none;
}


.logo__foot {
  display: none;
}

@media (min-width: 601px) {

  .menu__list {
    display: flex;
  }

  .menu__group {
    flex-grow: 1;
  }

  .menu__link {
    position: relative;
    overflow: hidden;
  }

  .menu__link:before,
  .menu__link:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;

    will-change: width;
    transition: width 0.05s ease-out;

    position: absolute;
    bottom: 0;
  }

  .menu__link:before {
    left: 50%;
    transform: translateX(-50%);
  }

  .menu__link:after {
    right: 50%;
    transform: translateX(50%);
  }

  .menu__link:hover:before,
  .menu__link:hover:after {
    width: 100%;
    transition-duration: 0.15s;
  }



  /* hover effect */

  .menu:hover .menu__link:not(:hover) {
    color: #241c69;
  }

  .container {
    background-color: inherit;
    width: 70%;
    margin: 60px auto;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .uno {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #e87722;
  }

  .uno p {
    font-size: 16px;
  }

  .dos {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #006341;
  }

  .dos p {
    font-size: 16px;
  }

  .tres {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #ba0c2f;
  }

  .tres p {
    font-size: 16px;
  }

  .cuatro {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #00629b;
    text-align: center;
  }

  .cuatro p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
  }

  .cinco {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #002855;
  }

  .seis {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    background-color: #861f41;
  }

  .main {
    margin: 60px auto;
    width: 1000px;
    background-color: #31787b;
  }

  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 14px 16px;
    /* background-color: #004992;*/
    background-color: #fff;
    text-align: center;
    color: white;
  }

  .logo__foot {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    height: 30px;
  }

  .hoverTable {
    width: 100%;
    border-collapse: collapse;
  }

  .hoverTable td {
    padding: 7px;
    border: #4e95f4 1px solid;
  }

  /* Define the default color for all the table rows */
  .hoverTable tr {
    background: #b8d1f3;
  }

  /* Define the hover highlight color for the table row */
  .hoverTable tr:hover {
    background-color: #ff9900;
  }

  .tabla {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .noticias {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .flyer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div1 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .div2 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .div3 {
    grid-area: 1 / 4 / 2 / 5;
  }

  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .div5 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .div6 {
    grid-area: 2 / 4 / 3 / 5;
  }

  .div7 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .div8 {
    grid-area: 3 / 3 / 4 / 4;
  }

  .div9 {
    grid-area: 3 / 4 / 4 / 5;
  }

  .div10 {
    grid-area: 4 / 3 / 5 / 4;
  }

  .div11 {
    grid-area: 1 / 3 / 2 / 4;
    background: #5650687e;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 350px;
  }

  .nd_diapo {
    text-align: center;
    position: relative;
    top: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    background-color: #e87722;
  }